</br><i>Student#index</i>

<h5>Hello, Tutors! Below, you'll find a list of students needing help.</br>
If you are qualified in that subject and grade, click on a student's name for more detail. </br></h5>

<h4>STUDENTS:</h4>


<% @students.each do |s| %>
    <ul>
    <li> <%= link_to "#{s.first_name} #{s.last_name[0]}", tutor_student_path(@tutor.id, s.id) %>
    is in <%= s.grade %>th grade, and needs help in <%= s.subject_help %>.
    </li>
    </ul>
<% end %>

