</br><i>Student#index</i></br>

<h4>Hello, Tutors! Below, you'll find a list of students needing help.</br>
If you are qualified in that subject and grade, click on a student's name for more detail. </br>
Students are sorted by grade level.</h4>

<strong>STUDENTS NEEDING ASSISTANCE:</strong>

<% @students.each do |s| %>
    <ul>
    <li> <%= link_to "#{s.first_name} #{s.last_name[0]}", tutor_student_path(@tutor.id, s.id) %>
    is in <strong><%= s.grade %></strong>th grade, and needs help in <strong><%= s.subject_help %></strong>.
    </li>
    </ul>
<% end %>

