<h1>Student#show</h1>

STUDENT INFO:</br>

<% if @current_user.class == Student %>
<h3>Hi <%= @student.first_name %>!</h3></br>
This is your page. From here you can:</br>
    <%= link_to '- EDIT your personal information', edit_student_path(@student) %> </br>
    <%= link_to '- FIND A TUTOR', student_tutors_path(@student) %></br>
- view your calendar of upcoming lessons</br>
(students/:student_id/lessons/:lesson_id?</br>
- delete your account (but why would you want to!?)</br>
<% elsif @current_user.class == Tutor %>
    <%= link_to "Schedule Lesson With This Student", new_tutor_student_lesson_path(@tutor.id, @student.id) %>
<% else %> 
    Can't Find the User!
<% end %>

