<h1>
Welcome to TutorHub!</h1>
<h3>Already have an account with us?:</h3>
<strong><%= link_to "I'M A TUTOR", tutor_login_path %></br></strong> 
<strong><%= link_to "I'M A STUDENT", student_login_path %></br></strong> 



</br>
<p><h3>Need to create an account?</h3></p>
If you're a NEW student requiring help: </br>
<strong><%= link_to "I'm a NEW STUDENT", new_student_path %> </strong> 
</br>
If you're a NEW teacher/tutor:</br>
<strong><%= link_to "I'm a NEW TUTOR", new_tutor_path %></strong> 




