<h1>Home#index</h1>
Welcome to TutorHub</br>

<%= link_to "I'M A TUTOR", tutor_login_path %></br>
<%= link_to "I'M A STUDENT", student_login_path %>




or sign in with Google, Twitter, or Github:

</br></br>
Need to create an account?
If you're a student requiring help: </br>
<%= link_to "I'm a NEW STUDENT", new_student_path %> 
</br></br>
If you're a teacher/tutor:</br>
<%= link_to "I'm a NEW TUTOR", new_tutor_path %> 




