<h1>
Welcome to TutorHub!</h1>
<h3>Already have an account with us?:</h3>
<%= link_to "I'M A TUTOR", tutor_login_path %></br>
<%= link_to "I'M A STUDENT", student_login_path %></br>



</br>
<p><h3>Need to create an account?</h3></p>
If you're a NEW student requiring help: </br>
<%= link_to "I'm a NEW STUDENT", new_student_path %> 
</br>
If you're a NEW teacher/tutor:</br>
<%= link_to "I'm a NEW TUTOR", new_tutor_path %> 




