<h1>Lesson#show</h1>

Hi <%= @student.first_name %>!</br>

This is your page. From here you can:</br>
<%= link to "- edit your personal information", edit_student_path(@student) %> </br>
- find a tutor</br>
- view your calendar of upcoming lessons</br>
- delete your account (but why would you want to!?)</br>